@font-face {
    font-family: 'Roboto Slab';
    src: local('Roboto Slab Regular'),
    local('RobotoSlab-Regular'),
    url('fonts/RobotoSlab/robotoslabregular.woff2') format('woff2'),
    url('fonts/RobotoSlab/robotoslabregular.woff') format('woff'),
    url('fonts/RobotoSlab/robotoslabregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: local('Roboto Slab Bold'),
    local('RobotoSlab-Bold'),
    url('fonts/RobotoSlab/robotoslabbold.woff2') format('woff2'),
    url('fonts/RobotoSlab/robotoslabbold.woff') format('woff'),
    url('fonts/RobotoSlab/robotoslabbold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


body,
.az-header,
.az-footer:before,
.az-splash {
    background: rgb(237, 185, 102) 0 100% no-repeat fixed url(images/bg-page.png);
    background-size: auto 100%;
}

.az-splash {
    background-position: 0 100%;
    background-attachment: scroll;
}

body,
.az-inputs__text {
    font-family: "Roboto Slab", "sans-serif";
}

.az-header {
    height: 100%;
    clip: rect(0, 660px, 100px, 0);
    /* -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 85px, rgba(0,0,0,0) 100px); /* Chrome */
}

.az-footer {
    background: none;
}

.az-footer:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 0;
    /*-webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%); /* Chrome */
    /*mask: url(images/masks.svg#fade-top); /* FF */
}

.az-main {
    min-height: 100%;
    background: rgba(255,255,255,0.5);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.az-inputs {
    border-color: rgba(237, 185, 102, 1);
    background: rgba(230, 200, 110, 0.9);
}

.az-inputs__text:-moz-placeholder {
    color: #857812;
}
.az-inputs__text::-moz-placeholder {
    color: #857812;
}
.az-inputs__text:-ms-input-placeholder {
    color: #857812;
}
.az-inputs__text::-webkit-input-placeholder {
    color: #857812;
}

.game-pirate {
    height: 330px;
    margin: 0 auto;
}

.game-title {
    height: 73px;
    margin: 20px auto 0;
    text-align: center;
    background: 0 50% no-repeat url("images/title-mobile.png");
    background-size: 100% auto;
}

.game-author {
    margin: 0 auto 20px;
    text-shadow: 0 0 5px #fff;
    font-size: 22px;
    line-height: 28px;
}

.game-author a {
    transition: color 0.2s;
}

.game-author__name {
    display: inline-block;
    margin: 0 0 4px;
    font-size: 32px;
    line-height: 1;
    color: #3a3a3a;
    text-decoration:none;
}

a.game-author__name:hover {
    color: #000;
}

.game-author__info {
    font-size: 20px;
}

.game-author__info a,
.game-author__info a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #79491E;
}

.game-author__info a:hover {
    color: #000;
}

.game-author__descr {
    margin-top: 8px;
}

.az-start-game {
    transition: background 0.25s;
    display: block;
    width: 250px;
    height: 50px;
    margin: 20px auto 0;
    border-radius: 5px;
    background: rgba(255,255,255,0.5);
    line-height: 50px;
    font-size: 24px;
    color: #000;
    text-shadow: 0 0 5px #fff;
    cursor: pointer;
}

.az-start-game:hover {
    background: rgba(255,255,255,0.65);
}

.game-credits {
    line-height: 1.6;
    font-size: 18px;
    padding: 40px;
    background: rgba(255,255,255,0.5);
    text-shadow: 0 0 5px #fff;
}

.game-credits h2 {
    margin-top: 1.5em;
    font-size: 24px;
    text-align: center;
}

.game-credits p {
    margin-bottom: 1em;
}

@media screen and (min-width: 700px) {
    body,
    .az-header,
    .az-footer:before,
    .az-splash {
        background-position: 50% 100%;
        background-size: 1280px auto;
    }

    .game-title {
        width: 660px;
        height: 73px;
        margin-top: 20px;
        text-align: center;
        background: 0 50% no-repeat url("images/title.png");
        background-size: 100% auto;
        position: relative;
        top: -325px;
        left: 12px;
    }

    .az-splash {
        background-position: 50% 100%;
        background-attachment: scroll;
    }

    .az-start-game {
        margin: -60px auto 0;
    }
}
