@font-face {
    font-family: 'Roboto Slab';
    src: local('Roboto Slab Regular'),
    local('RobotoSlab-Regular'),
    url('fonts/RobotoSlab/robotoslabregular.woff2') format('woff2'),
    url('fonts/RobotoSlab/robotoslabregular.woff') format('woff'),
    url('fonts/RobotoSlab/robotoslabregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: local('Roboto Slab Bold'),
    local('RobotoSlab-Bold'),
    url('fonts/RobotoSlab/robotoslabbold.woff2') format('woff2'),
    url('fonts/RobotoSlab/robotoslabbold.woff') format('woff'),
    url('fonts/RobotoSlab/robotoslabbold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


body,
.az-footer {
    background: rgb(237, 185, 102) 0 100% no-repeat fixed url(images/bg-page.png);
    background-size: auto 100%;
}

body,
.az-inputs__text {
    font-family: "Roboto Slab", "sans-serif";
}

.az-main {
    background: rgba(255,255,255,0.5);
    text-shadow: 0 0 1px rgba(0,0,0,0.2);
}

.az-inputs {
    border-color: rgba(237, 185, 102, 1);
    background: rgba(230, 200, 110, 0.9);
}

.az-inputs__text:-moz-placeholder {
    color: #857812;
}
.az-inputs__text::-moz-placeholder {
    color: #857812;
}
.az-inputs__text:-ms-input-placeholder {
    color: #857812;
}
.az-inputs__text::-webkit-input-placeholder {
    color: #857812;
}

@media screen and (min-width: 700px) {
    body,
    .az-footer {
        background-position: 50% 100%;
        background-size: 1280px auto;
    }
}
