/* ------------------------------ */
BODY {background: #e6e6c6 url('images/text_bg.jpg') repeat left top;}
/* ------------------------------ */
#main-output {
	padding-bottom:20px;
	margin:	5px auto 20px auto;
	max-width:	420px;
	font-family: Georgia;
	font-size: 13pt;
	hyphens:			auto;
	-moz-hyphens:		auto;
	-webkit-hyphens:	auto;
	-ms-hyphens:		auto;
	text-align: justify;
	border-bottom: 1px solid #000;
}
/* ------------------------------ */
#debug-words-list-short {
	padding-bottom:5px;
	width:100%;
	max-width:415px;
}
/* ------------------------------ */
.acword {
	display: inline-block;
	margin: 3px 4px 3px 4px;
	padding: 1px 4px 1px 4px;
	background-color: white;
	border: 1px #CCCCCC solid; /* стили рамки */
	-moz-border-radius: 5px; /* закругление для старых Mozilla Firefox */
	-webkit-border-radius: 5px; /* закругление для старых Chrome и Safari */
	-khtml-border-radius:5px; /* закругл. для браузера Konquerer системы Linux */
	border-radius: 5px; /* закругление углов для всех, кто понимает */
}
/* ------------------------------ */
